<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Premium Plans</title>
<style>
body{
    font-family:Arial;
    background:#0b1220;
    color:white;
    text-align:center;
    padding:60px;
}
.container{
    display:flex;
    justify-content:center;
    gap:30px;
}
.card{
    background:#1f2937;
    padding:40px;
    border-radius:20px;
    width:250px;
}
.price{
    font-size:28px;
    margin:15px 0;
}
button{
    padding:10px 20px;
    border:none;
    border-radius:20px;
    background:#00f2ff;
    font-weight:bold;
}
</style>
</head>
<body>

<h1>Premium Planlar</h1>

<div class="container">

<div class="card">
<h2>Basic</h2>
<div class="price">₺100</div>
<p>1 Günlük</p>
<p>24 Saatlik</p>
<a href="/premium/basic"><button>Basic Talep</button></a>
</div>

<div class="card">
<h2>Pro</h2>
<div class="price">₺300</div>
<p>7 Günlük</p>
<p>168  Saatlik</p>
<a href="/premium/pro"><button>Pro Talep</button></a>
</div>

<div class="card">
<h2>Elite</h2>
<div class="price">₺800</div>
<p>Limitsiz</p>
<p>Öncelikli Erişim</p>
<a href="/premium/elite"><button>Elite Talep</button></a>
</div>

</div>

</body>
</html>